/* Import your global styles if necessary */
@import "../../../data/styles.css";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 16px; /* Adjusted padding for better spacing */
  margin-top: 50px;
  align-items: center;
}

.footer-links,
.footer-credits {
  flex-basis: 100%;
  text-align: center;
}

.footer-links {
  margin-top: 20px; /* Adjusted margin for better spacing */
}

.footer-nav-link-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.footer-nav-link-item {
  font-weight: bold;
  font-size: 14px; /* Adjusted font size */
  margin: 0 16px; /* Adjusted margin for better spacing */
}

.footer-nav-link-list a {
  text-decoration: none;
  color: #3c4043; /* Google black color */
}

.footer-nav-link-list a:hover {
  color: var(--link-color); /* Google blue color on hover */
  transition: color 0.3s ease-in-out;
}

.footer-credits-text {
  color: #5f6368; /* Google gray color */
  font-size: 12px; /* Adjusted font size */
  margin-top: 20px; /* Adjusted margin for better spacing */
  text-align: center;
}

@media (max-width: 600px) {
  .footer {
    height: auto;
  }

  .footer-links {
    margin-top: 20px; /* Adjusted margin for better spacing */
  }

  .footer-nav-link-list {
    flex-direction: column;
  }

  .footer-nav-link-item {
    margin: 8px 0; /* Adjusted margin for better spacing */
  }
}
