/* Import your global styles if necessary */
@import "../../../data/styles.css";

.nav-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 3vh;
  z-index: 999;
}

.nav-background {
  width: 100%;
  height: 56px; /* Adjusted height for a more standard navbar size */
  padding-left: 16px;
  padding-right: 16px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px; /* Adjusted border radius */
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  font-weight: bold;
  font-size: 14px; /* Adjusted font size */
  margin-right: 16px; /* Adjusted margin for better spacing */
}

.nav-item.active a {
  color: var(--link-color); /* Google blue color */
}

.nav-item a {
  text-decoration: none;
  color: #3c4043; /* Google black color */
}

.nav-item a:hover {
  color: var(--link-color); /* Google blue color on hover */
  transition: color 0.3s ease-in-out;
}

.menu-btn {
  display: none; /* Hide the menu icon by default on larger screens */

}

/* Media query for smaller screens (adjust the max-width as needed) */
@media (max-width: 768px) {
  .nav-container {
    margin: 0;
    display: flex;
    justify-content: flex-end; /* Align to the right */
    align-items: center;
}
  .navbar {
    display: flex;
    justify-content: flex-end; /* Change this line to align to the right */
    align-items: center;
    position: fixed;
    top: 3vh;
    right: 3vh; /* Adjusted position to align to the right */
    z-index: 999;
  }
  
  .nav-background {
    width: 20px; 
    /* padding: 16px; */
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-end; /* Align items to the end (right) of the column */
  }
  .menu-btn {
    display: block; /* Show the menu icon on smaller screens */
    cursor: pointer;
  }

  .nav-list {
    display: none;
    flex-direction: column; /* Stack items vertically */
    list-style: none;
    align-items: flex-end; /* Align items to the end (right) of the column */
    margin: 0;
    padding: 0;
  }
  

  .menu-open .nav-list {
    display: flex;
    flex-direction: column;
    margin-top: 50%;
    background: rgba(255, 255, 255, 0.95); /* Semi-transparent white background */
   /* Hide the nav list by default on smaller screens */
  }

  .menu-open .nav-item {
    margin-bottom: 10px; /* Add spacing between navbar items */
  }
}
